.product-list {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 60%;
    justify-content: center;
}

.product {
  width: 300px;
  margin: 10px;
  border: 1px solid grey;
}

.product img {
  width: 100%;
}

.product .title, .actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.product .actions button {
  height: 30px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.product .actions {
  border-top: 1px solid grey;
}